/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #ffc451;
  text-decoration: none;
}

a:hover {
  color: #ffd584;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #54b3f4;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #151515;
  line-height: 0;
}
.back-to-top:hover {
  background: #151515;
}
.back-to-top:hover i {
  color: #54b3f4;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background-color: #fff;
}
#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(255, 255, 255, 0.8);
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-img.png") top center;
  background-size: cover;
  position: relative;
}

#hero .container {
  position: relative;
  padding-top: 74px;
}
#hero h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 400;
  color: #54b3f4;
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: #333d45;
  margin: 10px 0 0 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}
#hero h2 span {
  font-size: 28px;
}

#hero ul {
  list-style: none;
  font-size: 18px;
  color: #333d45;
  font-weight: 600;
  padding: 0%;
}
#hero ul li {
  display: flex;
  gap: 15px;
}

#hero .footer-newsletter {
  width: 100%;
}
#hero .footer-newsletter form {
  margin-top: 5px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 0px;
}
#hero .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}
#hero .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #54b3f4;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}
#hero .footer-newsletter form input[type="submit"]:hover {
  background: #0f80cb;
}
#hero .section-title img {
  width: 100px;
  margin-top: -52px;
  margin-left: 195px;
}

#hero #thanks {
  color: #466d1d;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero {
    height: auto;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}
.section-title .bg {
  background-color: #54b3f4;
}

.section-title {
  padding-bottom: 40px;
}
.section-title h2 {
  font-size: 42px;
  font-weight: 400;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.section-title .text-dark {
  color: #333d45 !important;
}
.section-title p {
  color: #333d45;
  padding-top: 15px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  width: 100%;
  height: 350px;
  background: url("../img/about-bg.png") top center;
  background-size: cover;
  position: relative;
}
.about .card {
  padding: 25px;
  align-items: center;
  display: flex;
  gap: 25px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 3px;
}
.about .card img {
  height: 100px;
  width: 100px;
}
.about .card .title {
  color: #565559;
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .about {
    width: 100%;
    height: auto;
  }
  .about .card {
    margin-bottom: 10px;
  }
}
/*--------------------------------------------------------------
Subscribe
--------------------------------------------------------------*/
.subscribe {
  background-color: rgba(84, 180, 244, 0.4);
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  padding-top: 20px;
}
.features .card {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 0px;
}
.features .card img {
  width: 75px;
  height: auto;
}
.features .h-10 {
  height: 200px !important;
}
@media (max-width: 768px) {
  .features .h-10 {
    height: auto;
  }
}
#footer {
  background-color: #54b3f4;
}
#footer .copyright {
  text-align: center;
  padding: 30px;
  font-size: 13px;
  color: #fff;
}
