<section class="features">
  <div class="container" data-aos="fade-up">
    <div class="row pt-5">
      <div class="col-md-12 pt-5">
        <div class="section-title pb-5">
          <h2 class="text-dark">FEATURES</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-10">
          <div class="icon"><img src="/assets/img/feature-1.png" alt="" /></div>
          <div class="title"><h4>ACCESSIONING</h4></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-10">
          <div class="icon"><img src="/assets/img/feature-2.png" alt="" /></div>
          <div class="title"><h4>RESULTING</h4></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="h-10">
          <img src="/assets/img/computer.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card h-10">
          <div class="icon">
            <img src="/assets/img/feature-3.png" alt="" />
          </div>
          <div class="title"><h4>CLIENT MANAGEMENT</h4></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-10">
          <div class="icon">
            <img src="/assets/img/feature-4.png" alt="" />
          </div>
          <div class="title"><h4>REPORTING</h4></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-md-4">
        <div class="h-10">
          <img src="/assets/img/paper.png" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-10">
          <div class="icon"><img src="/assets/img/feature-5.png" alt="" /></div>
          <div class="title"><h4>COMPLIANCE</h4></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-10">
          <div class="icon"><img src="/assets/img/feature-6.png" alt="" /></div>
          <div class="title"><h4>ENTREPRISE SECURITY</h4></div>
        </div>
      </div>
    </div>
  </div>
</section>
