<section id="hero" class="d-flex align-items-center justify-content-start">
  <div class="container" data-aos="fade-up">
    <div
      class="row justify-content-start"
      data-aos="fade-up"
      data-aos-delay="150"
    >
      <div class="col-xl-6 col-lg-8">
        <img src="/assets/img/logo.png" alt="" />
        <h1>COMMING SOON</h1>
        <h2>
          WLIMSABC's cloud designed software and our revolutionary processes
          means <strong>you do not need to wait.</strong>
        </h2>
        <div class="row align-items-center mt-5">
          <di class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i>No upfront cost</li>
              <li><i class="bi bi-chevron-right"></i>No commitment</li>
              <li><i class="bi bi-chevron-right"></i>No catch</li>
            </ul>
          </di>
          <di class="col-lg-6">
            <h2>Only <span>$500 </span>/month</h2>
          </di>
        </div>
        <div class="col-md-7 footer-newsletter" id="registrationForm">
          <form action="javascript:handleIt()" method="post">
            <input
              type="email"
              placeholder="Email"
              id="email"
              name="email"
              required
            /><input type="submit" value="Subscribe" />
          </form>
        </div>
        <div style="display: none" id="thanks">
          Thank you for your interest in ExpressLIS.<br />
          We are still working on the product, we will contact you when we are
          ready.<br />
          Features and prices might change but our goal is to provide a feature
          reach, inexpensive LIS!
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Form js -->
<script type="text/javascript">
  function handleIt() {
    $("#thanks").show();
    $("#registrationForm").hide();

    $.post(
      "https://us-central1-expreis.cloudfunctions.net/sendEmail",
      { email: document.getElementById("email").value },
      function (data) {}
    );
  }
</script>
