<section class="subscribe">
  <div
    class="container d-flex align-items-center justify-content-center p-5"
    data-aos="fade-up"
  >
    <div class="row p-5">
      <div class="col-md-7">
        <div class="section-title pb-5">
          <h2 class="text-dark">SUBSCRIBE</h2>
          <p>TO NOTIFY WHEN AVAILABLE</p>
          <div class="img">
            <img src="/assets/img/rocket.png" alt="" />
          </div>
        </div>
      </div>

      <div class="col-md-7 footer-newsletter">
        <form action="" method="post">
          <input type="email" placeholder="Email" name="email" required /><input
            type="submit"
            value="Subscribe"
          />
        </form>
      </div>
    </div>
  </div>
</section>
